# Tuple

# creating and accessing tuple

In [2]:
var=("hii","im","pooja")
print(var)

('hii', 'im', 'pooja')

In [6]:
value:tuple[int|str,...]=(1,2,3,"hiii")# (...) means many arguments of type int and str
print(value[2])
print(value[-1])

3
hiii

# Functions

# 1.tuple()

In [7]:
tup=tuple((22,45,23,78,6.89))
print(tup)

(22, 45, 23, 78, 6.89)

# 2.len()

In [8]:
len(tup)

5

# 3.count()

In [12]:
print(tup.count(23))
print(tup.count(54))

1
0

# 4.index()

In [13]:
print(tup.index(23))

2

# 5.sorted()

In [14]:
sorted(tup)

[6.89, 22, 23, 45, 78]

# 6.min(),max(),sum()

In [18]:
print(max(tup))
print(min(tup))
print(sum(tup))

78
6.89
174.89

# tuple slicing [start:stop:step]

In [29]:
print(tup[:])
print(tup[3:])
print(tup[:4])
print(tup[1:5:2])
print(tup[::2])
print(tup[-4:-1])

(22, 45, 23, 78, 6.89)
(78, 6.89)
(22, 45, 23, 78)
(45, 78)
(22, 23, 6.89)
(45, 23, 78)